[Desktop Entry]
Type=Application
Icon=~/.local/share/icons/monlycee/icon.png
Name=MonLycée
Name[fr]=MonLycée
Name[fr_FR]=MonLycée
Name[fr_FR.UTF-8]=MonLycée
Comment=Ouvre votre ENT
Comment[fr]=Ouvre votre ENT
Comment[fr_FR]=Ouvre votre ENT
Comment[fr_FR.UTF-8]=Ouvre votre ENT
Categories=Education;Network
Exec=xdg-open https://psn.monlycee.net/
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false
Actions=896221;203164;644522;528956;

[Desktop Action 896221]
Name=PRONOTE
Name[fr]=PRONOTE
Name[fr_FR]=PRONOTE
Name[fr_FR.UTF-8]=PRONOTE
Exec=xdg-open https://0941598b.index-education.net/pronote/eleve.html

[Desktop Action 203164]
Name=Mes outils pédagogiques
Name[fr]=Mes outils pédagogiques
Name[fr_FR]=Mes outils pédagogiques
Name[fr_FR.UTF-8]=Mes outils pédagogiques
Exec=xdg-open https://ent.monlycee.net/welcome

[Desktop Action 644522]
Name=Médiacentre
Name[fr]=Médiacentre
Name[fr_FR]=Médiacentre
Name[fr_FR.UTF-8]=Médiacentre
Exec=xdg-open https://ent.monlycee.net/auth/openid/login?callback=https%3A%2F%2Fent.monlycee.net%2Fmediacentre

[Desktop Action 528956]
Name=Messagerie
Name[fr]=Messagerie
Name[fr_FR]=Messagerie
Name[fr_FR.UTF-8]=Messagerie
Exec=xdg-open https://web-mail.monlycee.net/#inbox

